.home__content{
    display: flex;
    padding-top: 7.5rem;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.home__img{
    background: url(../../assets/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px #4a95d38f;
    order: 1;
    justify-self: center;
    width: 500px;
    height: 500px;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: profile__animate 5s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__title{
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    color: #4a96d3;
}

.home__subtitle{
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.527);
    font-size: 1.5rem;
}

.home__description{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.719);
}

.home__data button{
    background-color: #4a96d3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}