.sidebar{
    height: 90vh;
    background-color: rgb(255, 255, 255);
    width: 15%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 6px;
}

.sidebar .menu{
    padding: px;
    /* border: 1px solid black; */
}
.sidebar .menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.sidebar .menu ul li a span{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.sidebar .menu p{
    width: 100%;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.534);
}
.sidebar .menu ul li{
    list-style: none;
    width: 95%;
    text-align: center;
    display: flex;
    padding: 3px;
    border-bottom: 0.05px solid rgba(0, 0, 0, 0.192);
    border-top: 0.05px solid rgba(0, 0, 0, 0.192);
}
.sidebar .menu ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sidebar .menu ul li a:hover{
    background-color: #4a96d3;
    background: linear-gradient(to right, #5ea1d8d2, #4a96d3);
    color: white;
    
}
.sidebar .menu ul li a.active{
    background-color: #4a96d3;
    background: linear-gradient(to right, #5ea1d8d2, #4a96d3);
    color: white;
    
}