
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #f3f3ed, #ffffeb);
  transition: 1s;
}

.container.dark{
  background: #222;
}